//Reset
* {
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;

  max-width: 90em;

  .header {
    height: 6.25em;
  }


  .main-head {
    background-color: #D5D5D5;
    height: 35.3125em;
  }

  .services {
    height: 32.5em;
    padding-left: em(100);
  }

  .portfolio {
    height: 64.3725em;
  }

  .team {
    height: em(700);
  }
  .buy {
    height: em(732);
  }
  .reference {
    height: em(474);
  }
  .contact {
    height: em(690);
  }
  // blog
  .main {
    @include span-columns(9);

    background-color: blue;
  }
  .aside {
    @include span-columns(3);
    @include omega();
    background-color: black;
  }
}
