.buy {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: em(120);

  .plan {

    background-color: #f8f9fb;
    display: inline-block;
    height: em(515);
    margin-left: em(35);
    vertical-align: top;
    width: em(365);
    h3 {
      background-color: #485460;
      color: #fff;
      padding: em(20) 0px;
      font-family: 'Open Sans';
      font-size: em(25);
      font-weight: 400;

    }

    span {
      color: #485460;
      display: block;
      border-bottom: 1px solid #f1f1f1;
      font-family: 'Open Sans';
      font-size: em(14);
      font-weight: 400;
      padding: em(11) 0px;
    }
    .price {
      color: #485460;
      background-color: #f8f9fb;
      padding: em(24) 0px;
      font-size: em(18);
    }

    .butbuy {

      display: inline-block;
      color: #fff;
      border-radius: 3px;
      background-color: #788492;
      font-family: 'Open Sans';
      font-size: em(18);
      font-weight: 600;
      margin-top: em(50);
      padding: em(5) em(50);
      text-decoration: none;
    }
    .blue {
      background-color: #49cbcd;
    }

  }

  .first {
    margin-left: 0;
  }


}
