.contact {
  background-image: url(../images/footerbg.png);
  text-align: center;
  padding-top: em(100);
  h2 {
    color: #fff;
    font-family: 'Open Sans';
    font-size: em(40);
    font-weight: 400;
  }
  .means {
    //background-color: red;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: em(14);
    font-weight: 400;
    height: em(400);
    line-height: em(25);
    margin-right: em(10);
    margin-top: em(100);
    padding-left: em(130);
    padding-right: em(90);
    text-align: left;
    width: em(700);
    vertical-align: top;
    h3 {
      color: #fff;
      font-size: em(25);
      font-family: 'Open Sans';
      font-weight: 400;
    }
    .date {
      color: #5d566c;
      margin-top: em(100);
    }
  }
  .form {

    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: em(14);
    font-weight: 400;
    height: em(400);
    line-height: em(25);
    margin-right: em(10);
    margin-top: em(100);
    padding-right: em(90);
    padding-left: em(15);
    text-align: left;
    width: em(700);
    vertical-align: top;

    input {
      border: 0;
      border-radius: 2px;
      padding: em(15);
      width: em(270);
    }
    .email {
      margin-left: em(30);
    }

    textarea {
      border: 0;
      border-radius: 2px;
      height: em(180);
      margin-top: em(30);
      padding: em(15);
      width: em(570);
    }
  }

  .butform {
    background-color: #49cbcd;
    border-radius: 2px;
    color: #fff;
    font-size: em(20);
    float: right;
    margin-right: em(25);
    margin-top: em(30);
    padding: em(12) em(62);
    text-decoration: none;
  }
}
