.logo {
  @include span-columns(6);
  padding-left: em(135);
  padding-top: em(30);
}

.nav {
  @include span-columns(6);

}

li {
  padding: em(40) em(20);
  list-style: none;
  margin-left: em(20);
  vertical-align: top;
  display: inline-block;

  a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: em(14);
  }
  a:visited {
    color: #000;
  }
}

li:hover {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;

  a {
    color: #49cbcd;
  }
  a:visited {
    color: #49cbcd;
  }
}
.first {
    margin-left: 0px;
}

.active {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;
  a {
    color: #49cbcd;
  }
  a:visited {
    color: #49cbcd;
  }
}

