.logo {
  @include span-columns(6);
  padding-left: 135px;
  padding-top: 30px;
}

.nav {
  @include span-columns(6);

}

li {
  padding: 40px 20px;
  list-style: none;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;

  a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  }
  a:visited {
    color: #000;
  }
}

li:hover {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;

  a {
    color: #49cbcd;
  }
  a:visited {
    color: #49cbcd;
  }
}
.first {
    margin-left: 0px;
}

.active {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;
  a {
    color: #49cbcd;
  }
  a:visited {
    color: #49cbcd;
  }
}

