.logo {
  @include span-columns(6);
}

.nav {
  @include span-columns(6);

}

li {
  padding: 40px 20px;
  list-style: none;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;

  a {
  text-decoration: none;
  }
}

li:hover {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;
}
.first {
    margin-left: 0px;
}

.active {
  border-bottom: 3px #0AB29C solid;
  background-color: #F8F8F8;
}

