.main-head {
  background-image: url(../images/banner.png);
  text-align: center;
  padding-top: 8.125em;
  .layer {
    height: 35.3125em;
    background-color: #49cbcd;
    margin-top: -8.125em;
    opacity: 0.5;
    padding-top: 8.125em;
  }

  .text-layer {

    position: relative;
    margin-top: em(-440);


    h1 {
      color: #fff;
      font-size: 4.0em;
      opacity: 1;
    }
    p {
      color: #fff;
      margin-top: 1.475em;
      font-size: 1.60em;
    }
    a {
      color: #fff;
      display: inline-block;
      margin-top: em(70);
    }
    .LearnBot {
      border-radius: 5px;
      border: 3px solid #fff;
      font-size: 1.875em;

      padding: em(10) em(40);
      text-decoration: none;
    }
    .but1 {
      position: absolute;
      left: em(20);
      top: em(75);
    }
    .but2 {
      position: absolute;
      right: em(20);
      top: em(75);
    }
  }
}

.main-header {
  background-color: red;
  height: em(170);
}


