.portfolio {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: em(45);

  h2 {
    font-size: em(35);
    font-family: 'Open Sans';
  }

  .images {

    margin-top: em(30);
    text-align: left;
    padding-left: em(105);

    img {
      vertical-align: top;
      display: inline-block;
      margin-left: em(30);
      margin-top: em(30);
    }

  }

  .PortfolioButon {
    display: inline-block;
    background-color: #49cbcd;
    border-radius: 5px;
    padding: em(15) em(40);
    margin-top: em(55);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: em(25);
    text-decoration: none;
    color: #fff;
  }

}

