.reference {
  text-align: center;
  background-color: #fff;
  position: relative;

  .testimonio {

    width: em(700);
    text-align: center;
    margin-top: em(140);
    display: inline-block;

    h2 {
      font-family: 'Open Sans';
      font-size: em(40);
      font-weight: 400;

    }
    p {
      color: #B1B1B1;
      font-family: 'Open Sans';
      font-size: em(18);
      font-weight: 400;
      margin-top: em(30);
    }

  }
  .butFle1 {
    display: block;
    position: absolute;
    top: em(200);
    left: em(150);
  }
  .butFle2 {
    display: block;
    position: absolute;
    top: em(200);
    right: em(150);
  }
}
