.service {
  display: inline-block;
  height: em(400);
  margin-top: em(30);
  margin-left: em(10);
  padding-top: em(75);
  padding-left: em(110);
  vertical-align: top;
  width: em(300);

  h2 {
    font-family: 'Open Sans';
    margin-top: em(35);
    margin-left: em(-70);
    font-size: em(20);
    text-align: center;
  }
  p {
    color: #5A5A5A;
    font-family: 'Open Sans';
    font-size: em(14);
    line-height: em(20);
    margin-top: em(30);
    margin-left: em(-70);
    text-align: center;
    width: em(260);
  }

  .readmore {
    display: inline-block;
    background-color: #49cbcd;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: em(13);
    margin-top: em(30);
    padding: em(5) em(20);
  }

  a {
    text-decoration: none;
  }

}


