.team {
    text-align: center;
  h2 {
    color: #474747;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: em(40);
    text-align: center;
    margin-top: em(80);
  }
  .person {
    display: inline-block;
    margin-right: em(10);
    margin-top: em(90);
    vertical-align: top;
    width: em(285);
    text-align: center;

    .picture {
      display: inline-block;
      background-color: #eeeef0;
      height: em(200);
      margin-top: em(30);
      margin-left: em(5);
      padding-top: em(80);
      width: em(200);
      border-radius: 100%;
      margin-bottom: em(65);
    }

    h3 {

      font-family: 'Open Sans';
      font-weight: 400;
      font-size: em(22);

      span {
        font-size: em(14);
      }
    }
    p {
      color: #5A5A5A;
      font-family: 'Open Sans';
      font-size: em(14);
      line-height: em(20);
      margin-top: em(20);
      padding-left: em(10);
      width: em(270);
    }
  }



}
